<div class = 'container'>
  <h1>Welcome to the Southwest Airlines Low Price Finder!</h1>
  <h4>Tell us where and when you want to go, and we'll start looking for great rates</h4>

  <div class = 'row'>

    <label for = 'departAirportCode'>From: </label>
    <input class = 'airportCode' type = 'text' name = 'departAirportCode' [(ngModel)] = 'departAirportCode'>

    <label for = 'arrivalAirportCode'>To: </label>
    <input class = 'airportCode' type = 'text' name = 'arrivalAirportCode' [(ngModel)] = 'arrivalAirportCode'>

  </div>
    
  <div class = 'row'>

    <label for = 'departingDate'>Depart Date: </label>
    <input class = 'airportCode' type = 'text' name = 'departingDate' [(ngModel)] = 'departingDate'>

    <label for = 'returningDate'>Return Date: </label>
    <input class = 'airportCode' type = 'text' name = 'returningDate' [(ngModel)] = 'returningDate'>
    
  </div>

  <div class = 'row'>

    <input class = 'airportCode' type = 'text' name = 'email' [(ngModel)] = 'email'>

    <input class = 'airportCode' type = 'text' name = 'phone' [(ngModel)] = 'phone'>
    
  </div>

  <button (click) = 'submit()'>Let's Go!</button>
  
</div>